{% extends 'base.html' %}

{% block title %}
プロフィール
{% endblock title %}

{% block content %}
<h1>プロフィール画面です</h1>

{% for message in messages %}
{{ message }}
{% endfor %}

<h2>{{ profile.username }}さんのプロフィール</h2>
<hr>
<p>フォロー：<a href="{% url 'accounts:following_list' profile.username %}">{{ follow_count }}人</a>、フォロワー：<a
        href="{% url 'accounts:follower_list' profile.username %}">{{ follower_count }}人</a></p>
{% if user.username == profile_username %}
{% elif connected %}
<a href="{% url 'accounts:unfollow' profile.username %}">フォロー解除</a>
{% else %}
<a href="{% url 'accounts:follow' profile.username %}">フォロー</a>
{% endif %}
<hr>
{% for tweet in tweets %}
<a href="#" class="btn btn-primary">【投稿者】{{tweet.user}}</a>
【ツイート日時】{{tweet.created_at}}
<br>
【ツイート内容】{{tweet.content}}
<br>
<a href="{% url 'tweets:detail' tweet.pk %}" class="btn btn-primary">詳細</a>
<hr>
{% empty %}
<p>{{profile.username}}さんのTweetはありません</p>
<hr>
{% endfor %}

{% endblock content %}
