{% extends 'base.html' %}

{% block title %}
ツイート詳細
{% endblock title %}

{% block content %}
<div class="welcome">
    <h1 class="title">ツイートの詳細画面です</h1>
</div>
<div class="card mb-3 mx-auto border-secondary">
    <div class="card-header">
        <a href="{% url 'accounts:user_profile' tweet.user.username %}" class="text-dark">【投稿者】{{tweet.user}}</a>
        【ツイート日時】{{tweet.created_at}}
    </div>
    <div class="card-body">
        <h5 class="card-title">【ツイート内容】</h5>
        <p class="card-text">{{tweet.content}}</p>
        <div class="d-grid gap-2 d-md-block">
            {% if like %}
            <button data-button="like" data-url="{% url 'tweets:unlike' tweet.id %}" name="{{tweet.id}}"
                class="btn btn-info ">{{ tweet.like_set.count }}件のイイね</button>
            {% else %}
            <button data-button="like" data-url="{% url 'tweets:like' tweet.id %}" name="{{tweet.id}}"
                class="btn btn-light">{{ tweet.like_set.count }}件のイイね</button>
            {% endif %}
            {% if tweet.user == user %}
            <a href="{% url 'tweets:delete' tweet.pk %}" class="btn btn-danger"> ツイート削除はこちら</a>
            {% endif %}
        </div>
    </div>
</div>
{% include 'tweets/scripts.html' %}
{% endblock content %}
