{% extends 'base.html' %}

{% block title %}
ホーム
{% endblock title %}

{% block content %}
<h1>ホーム画面です</h1>
<hr>
{% for tweet in tweets %}
<a href="{% url 'accounts:user_profile' tweet.user.username %}" class="btn btn-primary">【投稿者】{{tweet.user}}</a>
【ツイート日時】{{tweet.created_at}}
<br>
【ツイート内容】{{tweet.content}}
<br>
<a href="{% url 'tweets:detail' tweet.pk %}" class="btn btn-primary">詳細</a>
{% if tweet.id in liked_list %}
<button data-button="like" data-url="{% url 'tweets:unlike' tweet.id %}" name="{{tweet.id}}">
    {{ tweet.like_set.count}}件のイイね
</button>
{% else %}
<button data-button="like" data-url="{% url 'tweets:like' tweet.id %}" name="{{tweet.id}}">
    {{ tweet.like_set.count}}件のイイね
</button>
{% endif %}
<hr>
{% endfor %}
{% include 'tweets/scripts.html' %}
{% endblock content %}
