<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}ようこそ{% endblock title %}</title>
</head>

<body>
    {% if user.is_authenticated %}
    ログインしています
    <a href="{% url 'accounts:user_profile' user.username %}">【{{user.username}}】さん</a>
    <a href="{% url 'tweets:home' %}">ホーム</a>
    <a href="{% url 'tweets:create' %}">ツイートする</a>
    <a href="{% url 'accounts:logout' %}">ロウグアウトはこちら</a>
    {% else %}
    <a href="{% url 'accounts:login' %}">ログインはこちら</a>
    <a href="{% url 'accounts:signup' %}">新規作成はこちら</a>
    {% endif %}
    {% block content %}
    <h1>Backend Final Assignment</h1>
    <p>Twitterみたいなアプリケーションです。</p>
    {% endblock content %}
</body>

</html>
